body {
  font-family: 'Montserrat', sans-serif !important;
}

.navbar-default .navbar-nav>li>a {
  color: #ffffff; 
  }

.navbar-default .navbar-brand {
 color: #ffffff;
}  

.navbar-default .navbar-nav>li>a:hover {
color: #000; 
}
.bg-admin-section{
  background: rgb(204, 246, 213) !important;
}

.navbar-default{
  background: #017937 !important;
  transition:1200ms ease;
  background:transparent;
}
.navbar-default.scrolled{
  background:#ffffff !important;
}

.abc.ncol {
  color: #017937 !important;
}


.mybtn {
  width: 100%;
  opacity: 0.9;
  background-color: #017937 !important;
}

.mybtn:hover {
  background-color: #00b31e !important;
}


.mainsection {
background-image: url(/static/images/sfocato9.png);
background-repeat: no-repeat;
background-position: center;
width: 100%;
min-height: 600px;
}

.tit {
color: #000;
}

.title-main {
  color: #000000;
}

hr.style-one {
  border: 0;
  height: 0.1px;
  background: rgba(0, 128, 0, 0.233);
}
.newsletter {
  margin-top: 100px;
  padding: 80px 0;
  background: #383941;
}

.newsletter .content {
  max-width: 650px;
  margin: 0 auto;
  text-align: center;
  position: relative;
  z-index: 2;
}
.newsletter .content h2 {
  color: white;
  margin-bottom: 40px;
}
.newsletter .content .form-control {
  height: 50px;
  border-color: #ffffff;
  border-radius: 0;
}
.newsletter .content.form-control:focus {
  box-shadow: none;
  border: 2px solid #36be58;
}
.newsletter .content .btn {
  min-height: 50px;
  border-radius: 0;
  background: #36be58;
  color: #fff;
  font-weight: 600;
}
.bottom{
  margin-left: auto;
  margin-right: auto;
  padding: 300px 0;
  max-width: 1920px;
  width: 100%;
  z-index: 1;
  background-image: url(/static/images/bottom-back.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 12px;
  position: relative;
}
.heigt-20p{
  height: 120px;
}
.bottom_col--intro{
  border-bottom: 1px solid;
  clear: both;
  margin-bottom: 7px;
  padding-bottom: 5px;
  min-width: 100%;
}
.bottom_col{
  float: left;
  line-height: 25px;
  width: 50%;
}
.bottom_logo{
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 20px;
  text-align: center;
}
.bottom_slogan{
  color: white;
  font-size: 15px;
}
.bottom_link{
  color:green;
  display: block;
  font-size: 15px;
  transition-property: color;
  transition-duration: 0.75s;
  transition-timing-function: ease;
  transition-delay: 0s;
}
.visit_style{
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  position: absolute;
  top: 50%;
  left: 20%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 40%;
  padding: 20px;
  text-align: center;
}
.bottom_address{
  color:inherit;
  font-size: 1em;
  line-height: 25px;
  transition-property: color;
  transition-duration: 0.75s;
  transition-timing-function: ease;
  transition-delay: 0s;
}
.social_style{
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  position: absolute;
  top: 50%;
  left: 80%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 40%;
  padding: 20px;
  text-align: center;
}
.bottom_legal{
  clear: both;
  color: #9b9b9b;
  display: block;
  float: left;
  font-size: 12px;
  line-height: 25px;
  margin-top: 130px;
  padding-top: 130px;
  width: 100%;
}

.post-title {
  font-weight: bold !important;
}
/*todo*/
.mybg {
  background-repeat: no-repeat;
  background-position: right;
  min-height: 700px;
  text-align: center;
  align-items: center;
  justify-content: center;
}

:root {
  --input-padding-x: 1.5rem;
  --input-padding-y: 0.75rem;
}

.card-signin {
  border: 0;
  border-radius: 1rem;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}

.card-signin .card-title {
  margin-bottom: 2rem;
  font-weight: 300;
  font-size: 1.5rem;
}

.card-signin .card-body {
  padding: 2rem;
}

.form-signin {
  width: 100%;
}

.form-signin .btn {
  font-size: 80%;
  border-radius: 5rem;
  letter-spacing: 0.1rem;
  font-weight: bold;
  padding: 1rem;
  transition: all 0.2s;
}

.form-label-group {
  position: relative;
  margin-bottom: 1rem;
}

.form-label-group input {
  height: auto;
  border-radius: 2rem;
}

.form-label-group > input,
.form-label-group > label {
  padding: var(--input-padding-y) var(--input-padding-x);
}

.form-label-group > label {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  margin-bottom: 0;
  /* Override default `<label>` margin */
  line-height: 1.5;
  color: #495057;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  transition: all 0.1s ease-in-out;
}

.form-label-group input::-webkit-input-placeholder {
  color: transparent;
}

.form-label-group input:-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-moz-placeholder {
  color: transparent;
}

.form-label-group input::placeholder {
  color: transparent;
}

.form-label-group input:not(:placeholder-shown) {
  padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
  padding-bottom: calc(var(--input-padding-y) / 3);
}

.form-label-group input:not(:placeholder-shown) ~ label {
  padding-top: calc(var(--input-padding-y) / 3);
  padding-bottom: calc(var(--input-padding-y) / 3);
  font-size: 12px;
  color: #777;
}
.signbtn {
  background: #36be58 !important;
}

@supports (-ms-ime-align: auto) {
  .form-label-group > label {
    display: none;
  }
  .form-label-group input::-ms-input-placeholder {
    color: #777;
  }
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .form-label-group > label {
    display: none;
  }
  .form-label-group input:-ms-input-placeholder {
    color: #777;
  }
}
/*todo */
.cont-bg {
  background-repeat: no-repeat;
  background-position: right;
  height: 700px;
}
.mynav-link {
  border: none;
  background-color: rgb(204, 246, 213) ;
  color: black ;
}

.contact {
  padding: 4%;
  height: 400px;
}
.col-md-3 {
  background: #53b96a;
  padding: 4%;
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}
.contact-info {
  margin-top: 10%;
}
.contact-info img {
  margin-bottom: 15%;
}
.contact-info h2 {
  margin-bottom: 10%;
}
.col-md-9 {
  background: #fff;
  padding: 3%;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}
.contact-form label {
  font-weight: 600;
}
.contact-form button {
  background: #25274d;
  color: #fff;
  font-weight: 600;
  width: 25%;
}
.contact-form button:focus {
  box-shadow: none;
}


.cardStyleTitle {
    text-align: center;
    background-color: #62cb57
}

.cardStyleBody {
    background-color: #daecd7
}